<div class="d-flex justify-content-center mt-5">
    <div class="home-page-icon-container justify-content-center align-items-center d-flex">
         <div class="home-page-icon-inner-container justify-content-center align-items-center d-flex">
            <%= image_tag "favicon.ico", class: "w-75 h-75" %>
        </div>
    </div>
</div>
<h1 class="text-center">Say something</h1>
        <div class="row m-3">
            <div class="col-10">
                <div class="message-box border border-secondary rounded ">
                    <form class="chat-form">
                        <div class="mb-3 m-3">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                                <button class="btn btn-outline-secondary bg-warning" type="button" id="button-addon2">
                                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2">
                <div class="message-box border border-secondary rounded p-2">
                    <ul class="list-group">
                        <li class="list-group-item bg-dark text-white">Online Users</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                        <li class="list-group-item bg-dark text-white">An item</li>
                    </ul>
                </div>
            </div>
        </div>
</div>